<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classifiers</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@2.0.5/lib/p5.min.js"></script>
  </head>
  <body>
    <h1>Classifiers</h1>
    <script>
      let textInput;
      let textButton;
      let classificationResult = "";
      let classificationScore = "";

      function setup() {
        textInput = createInput();
        textButton = createButton("Classify");
        textButton.mousePressed(sendText);
      }

      function draw() {
        background(220);
        text(classificationResult, width / 2, height / 2 - 10);
        text(classificationScore, width / 2, height / 2 + 10);
        textAlign(CENTER, CENTER);
      }

      async function sendText() {
        let userText = textInput.value();
        const response = await fetch(`/classify_text?text=` + userText);
        const data = await response.json();
        classificationResult = data[0].label;
        classificationScore = data[0].score.toFixed(2);
        console.log(data);
      }
    </script>
  </body>
</html>
